SERPAPI_KEY=your_key_from_serpapi.com
DATABASE_URL=postgresql://user:password@ep-xxx.neon.tech/neondb?sslmode=require
TELEGRAM_BOT_TOKEN=your_bot_token_from_BotFather
TELEGRAM_CHAT_ID=your_personal_chat_id
